@import "./styles/colors.scss";
@import "./styles/material.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--dark-gray);
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 10px;
}

.highlight {
  background-color: var(--yellow);
  padding: 0 5px;
}
