.article {
  width: 400px;
  height: 530px;
  box-shadow: 0px 8px 24px 0px var(--shadow);
  border: 1px solid var(--light-gray);

  &-img {
    height: 217px;
  }

  &-content {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
  }

  &-date {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-subtitle {
    font-size: 14px;
    font-weight: 400;
  }

  &-title {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 400;
    height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-actions {
    margin-top: auto;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
  }

  &-summary {
    margin: 20px 0 0;
    height: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
  }

  &-btn {
    padding: 0;
    display: flex;
    gap: 6px;
    align-items: center;
    flex-direction: row-reverse;
  }

  &-calendar.mat-icon {
    width: 14px;
    height: 14px;
  }

  &-arrow.mat-icon {
    width: 12px;
    height: 10px;
  }
}
