@if(article) {
<mat-card class="article">
  <img
    class="article-img"
    mat-card-image
    [src]="article.image_url"
    alt="article-cover"
    loading="lazy"
    decoding="async"
  />

  <mat-card-content class="article-content">
    <mat-card-subtitle class="article-date">
      <mat-icon class="article-calendar" svgIcon="app-calendar"></mat-icon>
      <span>{{ article.published_at | ordinalDate }}</span>
    </mat-card-subtitle>

    <mat-card-title
      class="article-title"
      [appHighlightCommon]="article.title"
      [searchQuery]="searchTerm$ | async"
    >
    </mat-card-title>

    <p
      class="article-summary"
      [appHighlightCommon]="article.summary"
      [searchQuery]="searchTerm$ | async"
    ></p>

    <mat-card-actions class="article-actions">
      <button class="article-btn" mat-button (click)="onReadMore()">
        <span>Read more</span>
        <mat-icon class="article-arrow" svgIcon="app-arrow-right"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
}
